.animal-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto 50px;
  min-height: 300px;
  width: 100%;  
}

.error-message {
  color: red;
}

.adopt{
  display: flex;
  flex-direction: column;
}

ul{
  list-style: none;
}

img{
  height: auto;
  width: 100%; 
}